body {
  background-color: #090C9B;
  color: #d00000;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: yellow;
  font-size: 24px;
}

#book{
  color:white;
  font-weight: bold;
}

#laptop{
  color:orange;
  font-weight: bold;
}

#glasses{
  color:#F5E663;
  font-weight: bold;

}

#pitch{
  width:100%;
}

.social {
  list-style-type: none;
  display: inline;
}

.contact{
  width: 150px;
  height: 150px;
}
