<div class="container">
  <div id="main">
		<h1>About Me</h1>
		<p>Well hey there. Since you're here, you probably want some information about me.</p>
		<img src="images/profpic.jpg" alt="Shugmi looking Sauve"/>
		<ul>
			<li>I was born in Baku, Azerbaijan (I promise that is a real country)</li>
  			<figure>
    			<img src="images/horseyshum.jpg" alt="Riding a horse to America" width="265px" height="302px" />
    			<br />
    			<figcaption> Look Ma! I'm headed to America!</figcaption>
  			</figure>
			<li>My name in Russian is <span class="russianName"><q>Шумун</q></span>
				<ul>
					<li>That is pronounced Shoe + Moon</li>
						<img src="images/shoemoon.jpg" alt="Shoe + Moon =" width="714px" height="224px" />
				</ul>
			</li>
				<li>Wayne State Grad
					<ul>
						<li>I originally intended on pursuing medicine, but against that due to what I percieved to be a shift in the field</li>
					</ul>
				</li>
				<li>I am an aspiring programmer who is enrolled in the Grand Circus Front-End Development bootcamp</li>
				<li>I love working out</li>
				<li>I love to read</li>
				<li>I love sports</li>
				<li>As you can probably by this point, I'm somewhat of a clown. I enjoy laughing and having a good time!</li>
			</ul>
		</div>
</div>
