<div class="container">
  <div>
    <h1>Contact Me</h1>
    <div class="social">
      <ul>
        <li class="social"><a href="https://github.com/ShugKnight24"><img class="contact" src="images/github.png" alt="Github logo" /></a></li>
        <li class="social"><a href="https://www.linkedin.com/in/shugmishumunov"><img class="contact" src="images/linkedin.png" alt="LinkedIn Logo" /></a></li>
        <li class="social"><a href="https://twitter.com/ShugmeShugyou"><img class="contact" src="images/twitter.png" alt="Twitter Logo" /></a></li>
      </ul>
    </div>
    <p>Connect with me on the social media sites above to keep up to date on all your Shugmi Shumunov needs!</p>
    <p>Feel free to reach out if you want to get a hold of me</p>
    <p>Here is <a href="SShumunov@gmail.com">my e-mail</a>. Shoot me a message and I will try to back to you ASAP. If you are feeling generous,
    please include an amusing gif(s). It may <q>persuade</q> [read: bribe] me into responding quicker.</p>
  </div>
</div>
