<div class="container">
	<h1>My Portfolio</h1>
	<p>Below, you can find the various projects I have worked on. Please be gentle. I am still working on my programming skills and am making plenty of mistakes along the way.</p>
	<p>I appreciate all feedback so please feel free to reach out to me with any valuable or trolly comments.My contact info can be found on my <a href="/#contact">contact</a> page.</p>
  <div ng-controller="portController">
      <project ng-repeat="project in projects"></project>
  </div>
</div>
